{% extends "partials/base-admin.html.twig" %} 
{% block body%}

           
<div class="Main_Profile ">
{% if err %}
<p>{{ err }}</p>
{% endif %}
    <div class="title_head ">
        <h2 class="head_infPerso">Informations personnelles</h2>
    </div>
    <div class="Cont_infPerso">
    
            <div class="cont_line">
                <div class="cont_inf">
                    <p>Prénom :</p>
                    <p> {{ user.firstName }} </p>
                </div>
                <div class="cont_inf">
                    <p>Nom :  </p>
                    <p>{{ user.familyName }}</p>
                </div>
            </div>
             <div class="cont_line">
                <div class="cont_inf">
                    <p>Tel :  </p>
                    <p>{{ user.tel }}</p>
                </div>
                <div class="cont_inf">
                    <p>Email :  </p>
                    <p>{{ user.email }}</p>
                </div>
            </div>
            <div class="cont_address">
                <p>Adresse :</p>
               <div class="cont_line2 ">
                    <div class="cont_inf2">
                        <p>Numéro :  </p> 
                        <p>{{ user.streetNumber }}</p> 
                    </div>
                    <div class="cont_inf2">
                        <p>Type de voie : </p>
                        <p>{{ user.laneType }} </p>
                    </div>
                    <div class="cont_inf2">
                        <p>Nom de voie :</p>
                        <p>{{ user.street }} </p>
                    </div>
                </div>
                <div class="cont_line2">
                {% if user.addressComplement  %}
                    <div class="cont_inf2">
                        <p>Complément d'adresse : </p>
                        <p>{{ user.addressComplement }} </p>
                    </div>
                {% endif %}
                    <div class="cont_inf2">
                        <p>Code postal : </p>
                        <p>{{ user.postalCode }}</p>
                    </div>
                    <div class="cont_inf2">
                        <p>Ville :</p>
                        <p>{{ user.city }} </p>
                    </div>
                </div>
            </div>      
            <div class="cont_titleFormation">
                <p>Formation : </p>
                <p>{{ user.title_formation }}</p>
            </div>
        <div class=' btn_registered '>
            {% if action is not defined %}
                <a class="text-decoration-none" href="/?area=admin&controller=home&action=index" ><p class=" btn-primary Return btnProfile">Retour</p></a>
            {% else %}
                <a class="text-decoration-none" href="/?area=admin&controller=home&action={{ action }}" ><p class=" btn-primary Return btnProfile">Retour</p></a>
            {% endif %}
            {% if action is not defined %}
            <a class="text-decoration-none" href="/?area=admin&controller=registered&action=validate&id={{user.id_user}}" ><p class=" btn-primary Return btnProfile">Creer le candidat</p></a>
            {% endif %}
        </div>
    </div>
</div>
<script src="scripts/adminDash.js"></script>

{% endblock %}