{% extends "partials/base-trainee.html.twig" %}

{% block body %}
	<div class="container-titre-dashboard">
		<h2>Bienvenue sur votre tableau de bord !
		</h2>
	</div>
	<div class="container-dashboard">
		<div class="dashboard-personal-info">
			<div class="personal-info-content">
				<p>
					<strong>Vos informations personnelles :</strong>
				</p>
				<p>
					<span class="orange">Prénom :</span>
					{{ trainee.FirstName}}</p>
				<p>
					<span class="orange">Nom :</span>
					{{ trainee.FamilyName}}</p>
				<p>
					<span class="orange">Email :</span>
					{{ trainee.Email}}</p>
				<p>
					<span class="orange">Formation :</span>
					{{ training.TitleFormation }}
				</p>
			</h2>
		</div>
	</div>
	<ul class="recap-absence_delay">

		<li>
			<i class="fa-solid fa-calendar-days"></i>
			Nombre d'absences non justifiées :
			<span class='dash-unjustified-report'>{{nbUnjustifiedAbsences}}/5</span>
		</li>
		<li>
			<i class="fa-solid fa-clock"></i>
			Nombre de retards non justifiés :
			<span class='dash-unjustified-report'>{{nbUnjustifiedDelays}}/10</span>
		</li>

	</ul>
</div></div></div></div>{% endblock %}
