{% extends "partials/base-trainee.html.twig" %}

{% block body %}

	<div class="container">
		<div class="container-btn-back row justify-center-start mt-4">
			<a href="./?area=trainee&controller=absence">
				<button class="btn-primary">Retour</button>
			</a>
		</div>
		{% if absencesToJustify == true %}
			<div class="row container-title-absence">
				<h2 class="col-10">Absences à justifier</h2>
			</div>
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
					{% if message is not empty %}
						<div class="text-center alert-info alert col-4 col-sm-6 mx-auto">{{message|raw}}</div>
					{% endif %}
					<div class="container-table">
						<table class="dataTable_justify">
							<form class="form-justify-abs" action="#" method='post' enctype='multipart/form-data'>
								<thead>
									<tr>
										<th class="cell table-col-1">Date de début</th>
										<th class="cell table-col-2">Date de fin</th>
										<th class="cell table-col-1">Durée</th>
										<th class="cell table-col-1">Motif</th>
										<th class="cell table-col-1">Justificatif</th>
									</tr>
								</thead>
								<tbody>
									{% for index,absence in absences %}
										<tr>

											<td class='cell table-col-1'>{{absence.date_de_fin}}</td>
											<td class='cell table-col-2'>{{absence.date_de_début}}</td>
											<td class='cell table-col-3'>{{absence.durée}}</td>

											<td class='cell table-col-4'>

												{% if absence.motif is null %}
													<select name="absence[{{absence.id_report}}][id_motif]">
														<option value="">--Choose an option--</option>
														{% for  motif in motifs %}
															<option value="{{motif.id_motif}}">{{motif.wording_motif}}</option>
														{% endfor %}
													</select>
													<input type='hidden' name="absence[{{absence.id_report}}][id_report]" value="{{absence.id_report}}"/>
												{% else %}

													<select name="absence[{{absence.id_report}}][id_motif]">
														<option value="{{absence.id_motif}}">{{absence.motif}}</option>
														{% for  motif in motifs %}
															{% if motif.wording_motif != absence.motif %}
																<option value="{{motif.id_motif}}">{{motif.wording_motif}}</option>
															{% endif %}
														{% endfor %}
													</select>
													<input type='hidden' name="absence[{{absence.id_report}}][id_report]" value="{{absence.id_report}}"/>
												{% endif %}
											</td>
											<td class='cell table-col-5'>
												<label for='absence_support_document[{{absence.id_report}}]'>
													<i class="fa-solid fa-cloud-arrow-up"></i>
												</label>
												<input class="form-justify-abs_{{absence.id_report}}" id='absence_support_document[{{absence.id_report}}]' type='file' name="{{absence.id_report}}" accept=".pdf"/>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</form>
						</table>
					</div>
					<div class="container-btn-abs mt-4">
						<button type="submit" name="form-button-abs" class="btn btn-primary btn-lg">Envoyer</button>
					</div>
				</div>
			{% elseif absencesToJustify == false %}
				<div class="row container-title-absence">
					<h2>Aucune absence à justifier</h2>
				</div>
			{% endif %}
		</div>
		{% if absencesToJustify == true %}
			<script src="/scripts/trainee.js"></script>
		{% endif %}

	{% endblock %}
