{% extends "partials/base-admin.html.twig" %} 
{% block body%}
<div class="contData" id="center">
    <div class="Cont_infPerso">
    
        <div class="cont_line">
            <div class="cont_inf">
                <p>Prénom :</p>
                <p> {{ user.firstName }} </p>
            </div>
            <div class="cont_inf">
                <p>Nom :</p>
                <p> {{ user.familyName }} </p>
            </div>
            <div class="cont_inf">
                <p>Formation :</p>
                <p> {{ training.title_formation }} </p>
            </div>
            
        </div>
    </div> 


    <table class="dataTable mt-5" >
        <thead>
            <td class="headTable left ">Documents de la formation</td>
            <td class="headTable ">Documents déposé par le candidat</td>
            <td class="headTable right">Action</td>
        </thead>
        <tbody id="myTable">
           
                    {% for docTraining in docstraining %}
                <tr>
                        <td class="cel" data-info="formation" >{{ docTraining.wording_typeOfDoc }}</td>
                        <td class="cel" data-info="candidat">
                        {% if documents is defined %}
                            {% for document in documents %}
                                {% if document.id_typeOfDoc == docTraining.id_typeOfDoc %}
                                    <p><a target='_blank' href="/?area=admin&controller=document&action=viewTrainingDoc&id={{user.getIdUser}}&file={{ document.wording_file }}">{{ document.wording_file }}</a></p>
                                {% else %}
                                    <p>Aucun document déposé</p>    
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <p>Aucun document déposé</p>    
                        {% endif %}   
                        </td>
                        <td class="cel" data-info="Action" >
                         {% if documents is defined %}
                            {% for document in documents %}
                                {% if document.id_typeOfDoc == docTraining.id_typeOfDoc %}
                                        {% if document.isValid != 1 %}
                                            <div class="Cont_action">
                                                <a target="_blank" href="/?area=admin&controller=document&action=viewTrainingDoc&id={{user.getIdUser}}&file={% for document in documents %}{% if document.id_typeOfDoc == docTraining.id_typeOfDoc %}{{ document.wording_file }}{% endif %}{% endfor %}"><img src="images/eye.png" /></a>
                                                <a id="acceptbtn" href="/?area=admin&controller=document&action=validateTrainingDoc&id={{user.getIdUser}}&id_doc={% for document in documents %}{% if document.id_typeOfDoc == docTraining.id_typeOfDoc %}{{ document.id_document }}{% endif %}{% endfor %}"><img src="images/accept.png" /></a>
                                                <label id="returnbtn" class="cursor displayNone" for=""><img class="img-small" src="/images/return.png" /></label>
                                                <form class="form_CancelDoc" method="POST" action="/?area=admin&controller=document&action=index&id={{user.getIdUser}}">
                                                    <input name="inpJustify_text" id="inpJustify_text" class="displayNone" type="text" />
                                                    <label id="Lab_justify_text" class="cancelDoc cursor" for=""><img src="/images/cancel.png" /></label>
                                                    <label id="Lab_cancelDoc" class="cancelDoc cursor displayNone" for="submit_cancel"><img src="/images/cancel.png" /></label>
                                                    <input name="id_document" type="hidden" value="{% for document in documents %}{% if document.id_typeOfDoc == docTraining.id_typeOfDoc %}{{ document.id_document }}{% endif %}{% endfor %}" />
                                                    <button id="submit_cancel" class="hiddenbtn" type="submit" name="submit_cancel"></button> 
                                                </form>
                                            </div>
                                        {% else %}
                                            <p>Validé</p>  
                                        {% endif %}
                                {% else %}
                                        <p>Aucune action disponible</p>  
                                 {% endif %}
                                {% endfor %}
                         {% endif %}
                        </td>
                </tr>
                    {% endfor %}
   
    
        </tbody>
    </table>


 
</div>
    <div class='contBtnMenu'>
        <button type="button" class=" btn btn-primary btn-lg"><a href="/?area=admin&controller=home&action=candidates">Retour</a></button>
    </div>
</div>
<script src="scripts/adminDash.js"></script>

{% endblock %}