{% extends "partials/base-admin.html.twig" %} 
{% block body%}
<div class="contData" id="center">
    <div class="Cont_infPerso">
    
        <div class="cont_line">
            <div class="cont_inf">
                <p>Prénom :</p>
                <p> {{ user.firstName }} </p>
            </div>
            <div class="cont_inf">
                <p>Nom :</p>
                <p> {{ user.familyName }} </p>
            </div>
            <div class="cont_inf">
                <p>Formation :</p>
                <p> {{ training }} </p>
            </div>
            
        </div>
    </div> 


    <table class="dataTable mt-5" >
        <thead>
            <td class="headTable left ">Documents de la formation</td>
            <td class="headTable ">Documents déposé par le candidat</td>
            <td class="headTable right">Action</td>
        </thead>
        <tbody>
            {% for doc in docs %}
                <tr>
                    <td class="cel" data-info="formation" >
                        <p>{{ doc.wording_typeOfDoc }}</p>
                    </td>
                    <td class="cel" data-info="candidat">
                        {% if doc.id_document is defined %}
                            <p>
                                <a target='_blank' href="/?area=admin&controller=document&action=viewTrainingDoc&id={{user.getIdUser}}&file={{ doc.wording_file }}">{{ doc.wording_file }}</a>
                            </p>          
                        {% else %}
                            <p>Aucun document transmis</p>
                            
                        {% endif %}
                    </td>
                    <td class='cel center'>
                        {% if doc.isValid == 1 %}
                         <p class="center">Validé </p>
                        {% elseif doc.isValid is defined and doc.isValid == null %}
                            <div class="Cont_action">
                                <a target="_blank" href="/?area=admin&controller=document&action=viewTrainingDoc&id={{user.getIdUser}}&file={{ doc.wording_file }}"><img src="images/eye.png" /></a>
                                <a id="acceptbtn" href="/?area=admin&controller=document&action=validateTrainingDoc&id={{user.getIdUser}}&id_doc={{ doc.id_document }}"><img src="images/accept.png" /></a>
                                <label id="returnbtn" class="cursor displayNone" for=""><img class="img-small" src="/images/return.png" /></label>
                                <form class="form_CancelDoc" method="POST" action="/?area=admin&controller=document&action=index&id={{user.getIdUser}}">
                                    <input name="inpJustify_text" id="inpJustify_text" class="displayNone" type="text" />
                                    <label id="Lab_justify_text" class="cancelDoc cursor" for=""><img src="/images/cancel.png" /></label>
                                    <label id="Lab_cancelDoc" class="cancelDoc cursor displayNone" for="submit_cancel"><img src="/images/cancel.png" /></label>
                                    <input name="id_document" type="hidden" value="{{ doc.id_document }}" />
                                    <input name="Name_doc" type="hidden" value="{{ doc.wording_file }}" />
                                    <input name="Name_docType" type="hidden" value="{{ doc.wording_typeOfDoc }}" />
                                    <button id="submit_cancel" class="hiddenbtn" type="submit" name="submit_cancel"></button> 
                                </form>
                            </div>
                        {% else %}
                            <p class="center">Aucune action disponible</p>    
                        {% endif %} 
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <div class='contBtnMenu'>
        <button type="button" class=" btn btn-primary btn-lg"><a href="/?area=admin&controller=home&action=candidates">Retour</a></button>
    </div>

<script src="scripts/adminDash.js"></script>

{% endblock %}