{% extends "partials/base-admin.html.twig" %} 
{% block body%}

<div class='contBtnMenu'>
   <a href="/?area=admin&controller=classroom"> <button type="button" class="active btn btn-primary btn-lg">Classes</button></a>
    <a href="/?area=admin&controller=gestion&action=index"><button type="button" class=" btn btn-primary btn-lg">Formations</button></a>
    {# <a href="/?area=admin&controller=gestion&action=organisme"><button type="button" class="btn btn-primary btn-lg">Organismes</button></a>    #}
</div>

<div class="cont_Search">
    <label for="myInput">Recherchez</label>
    <input type="text" id="myInput" />
</div>

<div class="contData">

    <table class="dataTable" >
        <thead>
            
            <td class="left headTable ">Code</td>
            <td class="headTable">Date de début</td>
            <td class="headTable">Date de fin</td>
            <td class="headTable">Nombre de stagiaires</td>
            <td class="headTable">Formation</td>
            <td class="headTable right">Action</td>
        </thead>
        <tbody id="myTable">
            {% for classroom in classrooms %}
                <tr>
                    <td class="cel" data-info="Code" >{{ classroom.name }}</td>
                    <td class="cel" data-info="Date de début" >{{ classroom.classroomMYB }}</td>
                    <td class="cel" data-info="Date de fin" >{{ classroom.classroomMYE }}</td>
                    <td class="cel" data-info="Nombre de place">0</td>
                    <td class="cel" data-info="Formation">{{  classroom.title_formation }}</td>
                    <td class="cel" data-info="Action" >
                        <div class="Cont_action">
                            <a href="/?area=admin&controller=classroom&action=view&id={{ classroom.id_classroom }}"><img src="images/eye.png" /></a>
                            <form method="POST" action="/?area=admin&controller=classroom&action=disabled">
                            <input type="hidden" name="id_classroom" value="{{ classroom.id_classroom }}" />
                            <label for="btn_delete" class="cursor "><img class="img-small" src="images/cancel.png" /></label>
                            <button id="btn_delete" name="btn_delete" class="displayNone"></button>
                            </form>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
</div>
<div class='contBtnMenu'>
        <a href="/?area=admin&controller=home"><button type="button" class=" btn btn-primary btn-lg">Retour</button></a>
        <a href="/?area=admin&controller=classroom&action=addClassroom"><button type="button" class=" btn btn-primary btn-lg">Ajouter</button></a>
</div>
<script src="scripts/adminDash.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
{% endblock %}